SQL_SERVER_NAME= # Reemplaza con el nombre o IP de tu servidor SQL local
SQL_DATABASE_NAME=RetailNova
SQL_USERNAME=TuUsuarioSQL # Reemplaza con tu usuario SQL
SQL_PASSWORD=TuContraseñaSegura # Reemplaza con tu contraseña SQL
SQL_DRIVER={ODBC Driver 17 for SQL Server} # Reemplaza con el nombre exacto de tu driver ODBC instalado